#header {
    display: block;
    /* position:fixed;     */
    width: 100%;
    height : 60px;
    left: 0;
    top: 0;
    z-index: 9999;
}
.container {
    position: relative;
    margin:0 auto;   
}

.header h1 {
    position: relative;
    float: left;
}

.header h1 img {
    width: 150px;
    padding-bottom: 20px;
    padding-left: 30px;
    
}

.header .nav {
    float: right;
    padding-top: 10px;
    padding-right: 20px;
}

.header .nav li {
    float: left;
    width: 85px;
    text-align: center;
}

.header .nav li .btn {
    display: block;
    padding: 14px 10px;
    font-size: 15px;
    font-weight: 700;
}

.nav > p {
    font-weight: 600;
    color: darkslateblue;
}

.loginBtn {
    width  :100px;
}
