#viewer {}

.wrap {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.images__tree{
  width: 25%;
  background-color: #AFEEEE;
  overflow:scroll;
  border: 1px solid black;
}

.images__viewer {  
  width: 50%;
  overflow: hidden;
  border: 1px solid black;
}

img {
  max-width: 100%;
  height: auto;
}

.Btn {
  position: absolute;
}

.images__tools {
  width: 25%;
  background-color: #00FFFF;

  border: 1px solid black;
}
