#viewer {
  height : 92%;
  position: relative;
}

.wrap {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.images__tree{
  width: 20%;
  background-color: rgb(30, 40, 72);
  overflow:scroll;
  border: 1px solid black;
}

.images__viewer {  
  width: 60%;
  /* overflow: hidden; */
  
  border: 1px solid black;
}

.images__viewer .images__wrap {
  
}

img {
  position: absolute;
}

.Btn {
  position: absolute;
}

.images__tools {
  width: 20%;
  background-color: #00FFFF;

  border: 1px solid black;
}
