.App {
  display : flex;
  justify-content: center;
  align-items: center;

  height : 100vh;
}
.wrap{
 
  padding : 12px;
}
.containerList{
 position:fixed;
 top:0;
 left:0;
 margin-right : 12px;
 padding-top: 90px;
 height:100%;
 width : 300px;
 background-color: lightsteelblue;
 overflow:scroll;
 cursor: pointer;
}

.containRight{
  position : fixed;
  top:0;

  right: 100px;
  display:flex;
  justify-content: space-around;
  align-items: center;
  padding-right:12px;
  width:60%;
  height: 100%;
}
.containerImg{ 
  display:flex;
  justify-content: center;
  align-items: center;
  line-height: 0;
  width : 600px;
}
.imageWrap
{
margin-right: 12px;
/* border : 1px solid yellow; */
}

.imageContent{
  width : 100%;
  height: 100%;

}


.containRight > button{
  display : flex;
  align-items: center;
  justify-content: center;
  margin-left:12px;
  width: 50px;
  height: 50px;
}