.App {
  display : flex;
  justify-content: center;
  align-items: center;
  max-width: 1920px;
  width : 100%;
  height : 100vh;
}
.wrap{
  display : flex;
  justify-content: space-between;
  padding : 12px;
  border : 1px solid lightgray;
  border-radius: 5px;

  width: 80%;
  height : 80%;
}
.containerList{
width : 300px;
margin-right : 12px;
overflow:scroll;


}
.containerList > p{
  cursor: pointer;
}
.containerImg{
  width : 400px;
 
}
.imageContent{
  width : 100%;
  height: 100%;
}